<%= form_for :form, url:forms_path do |f| %>
<p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
</p>

<p>
   <%= f.label :fullname %><br>
    <%= f.text_field :fullname %>
</p>

<p>
   <%= f.label :password %><br>
    <%= f.text_field :password %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>